@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');
*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body
{
    font-family:'Barlow', sans-serif;
}
a
{
    text-decoration:none;
}
ul
{
    list-style:none;
}
.left
{
    float:left;
}
.right
{
    float:right;
}
.clear
{
    clear:both;
}
.container
{
    max-width: 1140px;
    margin:auto;
}
/* yo chai top part ko laagi comment for information*/
.top
{
    background:red;
    line-height: 50px;
}
.top-left ul li
{
    display:inline;
    padding-right:20px;
}
.top-left ul li a
{
    color:white;
}
.top-right ul li
{
    display:inline-block;
}
.top-right ul li a
{
 width:30px;
    height:30px;
    background-color:rgba(204, 204, 204, 0.698);
    display:block;
    text-align:center;
    line-height:30px;
    border-radius:50%;
    font-size: 12px;
    color:white;
    }
    .top-right ul li a:hover
    {
        background:white;
        color:orangered;
    }
    header
    {
        box-shadow:0px 0px 14px #ccc;
    }
    nav ul li
    {
        display:inline-block;
    }
    nav ul li a
    {
        color:black;
        padding:10px;
        display:block;
        font-weight: 500;
    }
    nav ul
    {
        padding-top:20px;
    }
    .last a
    {
        background:#FE4C28;
        color:white;
    }
    .active a
    {
        color:#FE4C28;
    }
    .intro
    {
        padding:60px 0 0 0;
    }
    .intro h2
    {
        font-size:24px;
        padding-bottom:20px;
    }
    p
    {
     color:grey;
     line-height:23px;
    text-align:justify;

    }
    .intro-left,.intro-right
    {
        width:48%;
    }
    .call
    {
        background:linear-gradient(rgba(255, 0, 0, 0.185),rgba(0, 128, 0, 0.281)),url(../img/bg_banner1.jpg);
        padding:100px;
        background-size:cover;
        background-position:center;
    }
    .w-100
    {
width: 100%;
    }
.event h2
{
    text-align:center;
    padding:30px;
}
.event-inner
{
    box-shadow:0px 0px 13px #ccc;
}
.event-content
{
    padding:30px;
}
footer
{
    background:linear-gradient(rgba(0, 0, 255, 0.048), rgba(0, 128, 0, 0.363)) ,url(../img/bg_banner1.jpg);
    padding:60px 0;
    margin-top:80px;
    background-size: cover;
    background-position:center;
    color:#fff;
    text-align:center;
}
footer h2 span
{
    color:#FE4C28;
}
.middle ul li
{
    display:inline-block;
}
.middle ul li a
{
  width:30px;
    height:30px;
    background-color:rgba(204, 204, 204, 0.698);
    display:block;
    text-align:center;
    line-height:30px;
    border-radius:50%;
    font-size: 16px;
    color:white;
}
.textmiddle ul li
{
    font-size: 12px;
    text-decoration: underline;
    padding-right: 15px;
    font-weight:bold;
}
.copyright
{
    border-top:1px solid #ccc;
    padding:20px 0 20px 0;
    margin:40px 0 0 0;
}